.app-main .scrap{
    
}
.app-main .purchae .el-dialog__body .el-table__header .has-gutter .is-leafr{
    background-color: #F5F9FC;
}
.app-main .purchae .items{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 35px;
    padding-bottom:20px;
}


.app-main .purchae .items .el-form-item{
    margin-bottom: 0;
}
.app-main .purchae .cell .el-button{
    margin: 0 auto;
}

/*shenqing_tab弹框*/
.app-main .purchae .shenqing_tab .el-dialog{
    width: 70%;
}
.app-main .purchae .shenqing_tab .el-table{
   max-height: 580px;
   overflow-y: scroll;
}
.app-main .purchae .shenqing_tab .el-table__body tr:nth-of-type(odd){
    background-color: #fff;
}
.app-main .purchae .shenqing_tab .el-table__body tr:nth-of-type(even){
    background-color: #f5f9fc;
}
.app-main .purchae .shenqing_tab .el-dialog__footer .dialog-footer{
    text-align: center;
}
.app-main .purchae .shenqing_tab .el-dialog__footer .dialog-footer .el-button+.el-button{
    margin-left: 100px;
}

.app-main .purchae .shenqing_tab .heji{
    display: flex;
    padding: 20px 15px;
    justify-content: space-between;
    background-color: #f5f9fc;
}
.app-main .purchae .shenqing_tab .heji button{
    width: 60px;
    padding: 7px 5px;
}
.app-main .purchae .shenqing_tab .el-form{
    border: 1px solid #e4e8f4;
}
.app-main .purchae .shenqing_tab .el-dialog__body .el-table__header .has-gutter .is-center{
    background-color: #F5F9FC !important;
}

/*shenqingtj_tab弹框*/
.app-main .purchae .shenqingtj_tab .el-dialog{
    width: 80%;
}
.app-main .purchae .shenqingtj_tab .el-dialog__body .el-form .sou{
    display: flex;
    justify-content: space-between;
}
.app-main .purchae .shenqingtj_tab .sou .el-form-item{
    width: 50%;
}
.app-main .purchae .shenqingtj_tab .sou .you{
    display: flex;
    height: 36px;
}
.app-main .purchae .shenqingtj_tab .sou .you .el-button--medium{
    margin-left: 20px;
}
.app-main .purchae .shenqingtj_tab .el-dialog__body{
    padding: 30px;
}
.app-main .purchae .shenqingtj_tab .el-dialog__body .el-table{
    border: 1px solid #e6e9ee;
}

.app-main .purchae .shenqingtj_tab .tianjiade{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.app-main .purchae .shenqingtj_tab .tianjiade .xuan{
    min-width: 600px;
    border-right: 2px solid #e6e9ee;
}
.app-main .purchae .shenqingtj_tab .tianjiade .xuanle{
    max-width: 300px;
    min-width: 300px;
    min-height: auto;
    max-height: 497px;
    overflow-y: scroll;
    border: 1px solid #e6e9ee;
    border-left: 2px solid #e6e9ee;
    
}
.app-main .purchae .shenqingtj_tab .tianjiade .xuanle .yixuan{
    height: 44px;
    line-height: 55px;
    text-align: center;
    font-weight: bold;
    
    border-bottom: 1px solid #ebeef5;
}
.app-main .purchae .shenqingtj_tab .tianjiade .xuanle ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.app-main .purchae .shenqingtj_tab .tianjiade .xuanle ul li{
    display: flex;
    width: 50%;
    height: 43.8px;
    line-height: 43.8px;
    padding: 0 5px;
}
.app-main .purchae .shenqingtj_tab .tianjiade .xuanle ul li .ming{
    width: 70%;
    text-align: center;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.app-main .purchae .shenqingtj_tab .tianjiade .xuanle ul li .cha{
    width: 30%;
    text-align: center;
    color: red;
    cursor: pointer;
}




.app-main .purchae .shenqingtj_tab .el-dialog__body .el-table__header .has-gutter .is-leaf{
        background-color: #F5F9FC;
    }
.app-main .purchae .shenqingtj_tab .el-table__body tr:nth-of-type(odd){
    background-color: #fff;
}
.app-main .purchae .shenqingtj_tab .el-table__body tr:nth-of-type(even){
    background-color: #f5f9fc;
}

.app-main .purchae .shenqingtj_tab .el-dialog__footer{
    text-align: center;
}
.app-main .purchae .shenqingtj_tab .el-dialog__footer .el-button+.el-button{
    margin-left: 100px;
}



/*shenqingdd_tab弹框*/
.app-main .purchae .shenqingdd_tab .el-dialog{
    width: 70%;
}
.app-main .purchae .shenqingdd_tab .el-table__body tr:nth-of-type(odd){
    background-color: #fff;
}
.app-main .purchae .shenqingdd_tab .el-table__body tr:nth-of-type(even){
    background-color: #f5f9fc;
}
.app-main .purchae .shenqingdd_tab .el-dialog__footer .dialog-footer{
    text-align: center;
}
.app-main .purchae .shenqingdd_tab .el-dialog__footer .dialog-footer .el-button+.el-button{
    margin-left: 100px;
}
.app-main .purchae .shenqingdd_tab .el-dialog__body .el-table__body-wrapper{
    max-height: 484px;
    overflow-y: scroll;
}
.app-main .purchae .shenqingdd_tab .heji{
    display: flex;
    padding: 20px 15px;
    justify-content: space-between;
    background-color: #f5f9fc;
    border: 1px solid #e4e8f4;border-top: 0;
}
.app-main .purchae .shenqingdd_tab .heji button{
    width: 60px;
    padding: 7px 5px;
}
.app-main .purchae .shenqingdd_tab .el-table{
    border: 1px solid #e4e8f4;
}
.app-main .purchae .shenqingdd_tab .el-dialog__body{
    padding: 30px 40px;
}
.app-main .purchae .shenqingdd_tab .el-dialog__body .el-form-item{
    margin-bottom: 10px;
}
.app-main .purchae .shenqingdd_tab .el-dialog__body .el-table__header .has-gutter .is-center{
    background-color: #F5F9FC !important;
}
.app-main .purchae .shenqingdd_tab .el-dialog__body .el-table__header .has-gutter tr .is-leaf:last-child .cell{
    color: #66b1ff;
    font-size: 16px;
}
.app-main .purchae .shenqingdd_tab .xinxi>div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.app-main .purchae .shenqingdd_tab .xinxi>div .el-form-item{
    width: 50%;
}






.app-main .purchae .shenqing_tab .el-table__body tr:nth-of-type(even){
    background-color: #f5f9fc;
}
.app-main .purchae .shenqing_tab .el-table::before{
    display: none;
}
.app-main .purchae .shenqing_tab .el-dialog__body .el-form{
    position: relative;
}
.app-main .purchae .shenqing_tab .el-dialog__body .el-form .jiahao{
    position: absolute;
    top: 9px;
    right: 3.5%;
    font-size: 22px;
    color: #409EFF;
    z-index: 100;
    cursor: pointer;
}
.app-main .purchae .shenqing_tab .el-dialog{
    width: 63%;
}


/*无单收货弹框*/
.app-main .purchae .wudanshouhuo_tab .el-dialog{
    width: 70%;
}
.app-main .purchae .wudanshouhuo_tab .el-table__body tr:nth-of-type(odd){
    background-color: #fff;
}

.app-main .purchae .wudanshouhuo_tab .heji{
    display: flex;
    padding: 20px 15px;
    justify-content: space-between;
    background-color: #f5f9fc;
    border: 1px solid #e4e8f4;
    border-top: 0;
}

.app-main .purchae .wudanshouhuo_tab .heji button{
    width: 60px;
    padding: 7px 5px;
}
.app-main .purchae .wudanshouhuo_tab .el-table{
    border: 1px solid #e4e8f4;
    border-bottom: 0;
}
.app-main .purchae .wudanshouhuo_tab .el-dialog__body .el-table__header .has-gutter .is-center{
    background-color: #F5F9FC !important;
}
.app-main .purchae .wudanshouhuo_tab .btn_box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.top{
    margin-bottom: 30px;
}
.shenqing_tab,.wudanshouhuo_tab{
    margin-top: 12vh;
}

