.app-main .account-detail .el-form .upzs{
    padding-bottom: 0;
    border-bottom: 1px solid #EEEEEE;
    display: flex;
    justify-content: flex-start;
}
.app-main .account-detail .el-form .top .el-form-item{
    margin-top: 0;
}
.account-detail .el-form-item{
    margin: 15px 0;
}
.app-main .account-detail .el-form .top .el-form-item__label{
    color: #606266;
}
.account-detail .el-form-item--medium .el-form-item__label{
    color: #b1b6ca;
    padding-right: 20px;
}
.account-detail .el-form-item--medium .tupian{
    display: flex;
}
.account-detail .pic .el-form-item__content{
    display: flex;
    
}

.account-detail .top .el-icon-arrow-left{
    padding-top: 6px;
}
.account-detail .top .el-icon-arrow-left:before{
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}


.app-main .account-detail .el-form .top .el-form-item::before{
    display: none;
}
.app-main .account-detail .el-form .qufen .el-form-item::before{
    display: block;
    top: 20px;
}
.account-detail .el-table--medium{
    padding-top: 0;
}
.account-detail .shangForm{
    border-bottom: 20px solid #f6f7fb;
}
.account-detail .tupian{
    width: auto;
    height: 145px;
    display: block;
    margin-right: 15px;
}
.app-main .account-detail .el-form .top .el-form-item__label{
    color: #606266;
}
.account-detail .up{
    display: flex;
    width: 100%;
    padding: 0 20px;
}
.account-detail .up .left{
    width: 50%;
}
.account-detail .up .right{
    width: 50%;
}
